@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    /* background: rgb(35,253,189); */
    background: linear-gradient(rgba(35,253,189,0.2945553221288515) 0%, rgba(29,253,187,0.07326680672268904) 9%, rgba(179,241,235,0) 100%);    /* need to check if smooth scroll works for all components */
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: rgba(35,253,189,0.2945553221288515);
    height: 60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -7px;;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: black;
  }

  .page-owner {
    font-weight: lighter;
    font-size: smaller;
    font-size: 14px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
  }
  
  ul li {
    padding: 5px;
    margin-left: 25px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 25px;
    height: calc(100vh - 50px);
    /* width: 100%; */
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }


#about_me {
    margin-bottom: 200px;
}

#about_me_wrapper {
    width: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about_me {
    flex-direction: column;
    background-image: url("./images/blob-haikei.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 550px;
    margin-top: 30px;
}

.about_me_content {
    width: 400px;
    text-align: center;
    margin-top: 110px;
    margin-left: 50px;
}

.my_img_block {
    height: 20px;
}

.my_img {
    border-radius: 50%;
    box-shadow: 8px 2px 10px -3px rgba(0, 0, 0, 0.1);
    height: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 120px;
}

.my_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.about_me_description {
    line-height: 1.5;
    font-size: 17px;
    margin-left: 140px;
    width: 450px;
}

.special_description_space {
    margin-left: 10px;
}

.special_description_space_1 {
    margin-left: 30px;
}

.special_description_space_2 {
    margin-left: 50px;
}

.checkout_description {
    margin-left: 100px;
    font-weight: bold;
    line-height: 70px;
}

.small-arrow {
    width: 0px;
}

.small-arrow img {
    margin-left: -240px;
    margin-top: 260px;
    width: 330px;
}

.my_work {
    font-weight: bold;
}

.about_me_work_wrapper {
    flex-direction: column;
    height: 100px;
}

.work_item_link {
    font-family: Nunito, sans-serif;
    background-color: #f3fffd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 10px 40px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.work_item_link:hover {
    background: rgb(243, 255, 253);
    background: linear-gradient(90deg, rgba(243, 255, 253, 1) 0%, rgba(230, 251, 248, 1) 44%, rgba(223, 251, 247, 1) 100%);
    font-weight: bold;
    transform: scale(110%);
}

#work_experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.work_experience_header {
    font-weight: bolder;
    font-size: 45px;
    font-family: Nunito, sans-serif;
    margin-right: 80px;
}

.work_examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.work_experience_background_card_1 {
    position: relative;
    background-image: url('./images/work-experience-background/blurry-gradient-haikei.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
    margin-right: 80px;
}

.work_experience_background_card_2 {
    position: relative;
    background-image: url('./images/work-experience-background/blurry-gradient-haikei_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
    margin-right: 80px;
}

.work_experience_card {
    position: absolute;
    height: 433px;
    width: 357px;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(166, 172, 190, 0.144);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 25px;
}

.work_experience_card h2 {
    font-weight: bolder;
    font-family: Nunito, sans-serif;
    margin-top: 35px;
    color: white;
}

.work_experience_card p {
    font-weight: lighter;
    font-family: Nunito, sans-serif;
    width: 250px;
    margin-left: 50px;
    color: white;
}

.work_experience_card img {
    height: 100px;
    width: 150px;
    border-radius: 20px;
}

    .work_experience_card:hover {
        transform: scale(100%);
    }

footer {
    display: block;
}

#footer_wrapper {
    background-color: rgba(35,253,189,0.2945553221288515);
    width: 100%;
    height: 400px;
}


@media only screen and (max-width: 800px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }