@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: linear-gradient(rgba(35,253,189,0.2945553221288515) 0%, rgba(29,253,187,0.07326680672268904) 9%, rgba(179,241,235,0) 100%);    /* need to check if smooth scroll works for all components */
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    padding: 0 20px;
    background-color: rgba(35,253,189,0.2945553221288515);
    height: 60px;
    justify-content: space-between;
  }

  header a {
        text-decoration: none;
        position: relative;
    }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: black;
  }

  .page-owner {
    font-weight: lighter;
    font-size: smaller;
    font-size: 14px;
  }

  nav {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 25px;
    height: calc(100vh - 50px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 5px;
  }


#about_me {
    margin-top: 80px;
}

#about_me_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 140px;
}

.about_me {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("./images/blob-haikei.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 550px;
    top: 18px;
    animation-duration: 3s;
    animation-name: slidein-left;
}

@keyframes slidein-left {
    from {
        left: -200px;
    }

    to {
        left: 0px;
    }
}

.about_me_content {
    width: 400px;
    text-align: center;
    margin-top: 110px;
    margin-left: 50px;
}

.my_img_block {
    height: 20px;
}

.my_img {
    position: absolute;
    border-radius: 50%;
    box-shadow: 8px 2px 10px -3px rgba(0, 0, 0, 0.1);
    height: 200px;
    top: 5px;
    right: -25px;
    animation-duration: 3s;
    animation-name: slidein-top;
}

@keyframes slidein-top {
    from {
        top: -100px;
    }

    to {
        top: 5px;
    }
}

.my_name {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    top: 25px;
}

.about_me_description {
    display: flex;
    position: relative;
    margin-top: 55px;
    line-height: 1.5;
    font-size: 17px;
    margin-left: 140px;
    width: 450px;
}

.special_description_space {
    margin-left: 10px;
}

.special_description_space_1 {
    margin-left: 30px;
}

.special_description_space_2 {
    margin-left: 50px;
}

.checkout_description {
    margin-left: 100px;
    font-weight: bold;
    line-height: 70px;
}

.below_wrapper {
    display: none;
}

.small-arrow {
    display: flex;
    position: absolute;
}

.small-arrow img {
    margin-left: 240px;
    margin-top: 260px;
    width: 330px;
    animation-duration: 3s;
    animation-name: slidein-bottom;
}

@keyframes slidein-bottom {
    from {
        margin-top: 400px;
    }

    to {
        margin-top: 260px;
    }
}

.my_work {
    font-weight: bold;
}

.about_me_work_wrapper {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.work_item_link {
    display: flex;
    background-color: #f3fffd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 10px 40px -3px rgba(0, 0, 0, 0.1);
    font-family: Nunito, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

    .work_item_link:hover {
        background: rgb(243, 255, 253);
        background: linear-gradient(90deg, rgba(243, 255, 253, 1) 0%, rgba(230, 251, 248, 1) 44%, rgba(223, 251, 247, 1) 100%);
        font-weight: bold;
        transform: scale(110%);
    }

    .slow {
        position: relative;
        animation-duration: 4s;
        animation-name: slidein-slow;
    }

    @keyframes slidein-slow {
        from {
            right: -100px;
        }
    
        to {
            right: 0px;
        }
    }

    .normal {
        position: relative;
        animation-duration: 3s;
        animation-name: slidein-normal;
    }

    @keyframes slidein-normal {
        from {
            right: -100px;
        }
    
        to {
            right: 0px;
        }
    }

    .fast {
        position: relative;
        animation-duration: 2s;
        animation-name: slidein-fast;
    }

    @keyframes slidein-fast {
        from {
            right: -100px;
        }
    
        to {
            right: 0px;
        }
    }

#work_experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.work_experience_header {
    font-weight: bolder;
    font-size: 45px;
    font-family: Nunito, sans-serif;
    margin-right: 80px;
}

.work_examples {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    margin-top: 25px;
}

.work_experience_background_card_1 {
    position: relative;
    background-color: #ffffff;
    background-image: linear-gradient(235deg, #f2f2f2cf 0%, #ffffffcc 42%, #ffffffd4 100%);
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
}

.work_experience_background_card_2 {
    position: relative;
    background-color: #ffffff;
    background-image: linear-gradient(28deg, #f2f2f2cf 0%, #ffffffcc 42%, #ffffffd4 100%);
    /* background-image: url('./images/work-experience-background/blurry-gradient-haikei_2.png');
    background-size: cover;
    background-repeat: no-repeat; */
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
}

.work_experience_card {
    height: inherit;
    width: inherit;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
    line-height: 25px;
    padding: 35px 50px;
}

    .work_experience_card h2 {
        font-weight: bolder;
        font-family: Nunito, sans-serif;
        color: black;
    }

    .work_experience_card p {
        font-weight: lighter;
        font-family: Nunito, sans-serif;
        width: 250px;
        margin-top: 15px;
        color: black;
    }

    .work_experience_card img {
        height: 100px;
        width: 150px;
        border-radius: 20px;
        margin-top: 20px;
    }

    #cards:hover {
        animation-duration: 2s;
        animation-name: wiggle;
    }

    @keyframes wiggle {
        from {
            transform: rotateZ(0.5deg) scale(105%);
        }

        to {
            transform: rotateZ(-0.1deg);
        }
    }

.small_line {
    margin-top: 15px;
    width: 250px;
    height: 1px;
    background-color: black;
}

#documentary {
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 150px;
    background: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgb(117 244 193 / 6%) 84%, rgb(168 253 234 / 64%) 100%);
    /* background: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgba(255,255,255,0.8141850490196079) 84%, rgba(235,233,233,0.9262298669467787) 100%); */
}

.work_header {
    font-weight: bolder;
    font-size: 45px;
    font-family: Nunito, sans-serif;
    margin-right: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.article_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgba(255,255,255,0.8141850490196079) 84%, rgba(235,233,233,0.9262298669467787) 100%); */
}

    .short_documentary {
        display: flex;
        position: relative;
        height: 350px;
        width: 700px;
        margin-right: 50px;
        border-radius: 10px;
    }

.article_descrtiption {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    line-height: 25px;
    font-family: inherit;
}

    .article_descrtiption h3 {
        font-weight: bold;
    }

    .article_descrtiption hr {
        border: 1px solid;
        color: black;
        margin-top: 10px;
    }

    .article_descrtiption p {
        font-weight: lighter;
        margin-top: 10px;
    }

#artwork {
    display: flex;
    margin-top: 50px;
    height: auto;
    width: auto;
    justify-content: center;
}

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .artwork_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 200px;
    }

    .artwork_context {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 500px;
        margin-top: 100px;
    }

        .artwork_section  {
            top: 100px;
        }

            .artwork_header {
                text-align: left;
                margin-bottom: 10px;
                font-size: 70px;
            }

            .artwork_explenation {
                font-size: 20px;
                font-weight: lighter;
            }

    .artwork_items {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        gap: 300px;
    }

        .artwork_item {
            display: flex;
            flex-direction: column;
            padding: 30px;
            border-radius: 20px;
            min-height: 620px;
            width: auto;
            justify-content: center;
            gap: 80px;
            top: 30px;
        }

            #portrets {
                background-color: lightsalmon;
            }

            #moodboards {
                background-color: lightskyblue;
            }

            #other {
                background-color: lightyellow;
            }

            .artwork_description {
                display: flex;
                flex-direction: column;
                width: 360px;
                align-items: center;
                text-align: center;
            }

                .artwork_description h3 {
                    font-size: 40px;
                }

                .artwork_description hr {
                    border: 1px solid;
                    color: black;
                    width: 55%;
                    margin-bottom: 15px;
                }

                .artwork_description p {
                    font-size: 15px;
                }

                .images img {
                    height: 250px;
                    width: 250px;
                    border-radius: 15px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
                    margin-top: 30px;
                }

                .moodboards__items img {
                    height: 250px;
                    width: 350px;
                    border-radius: 15px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
                    margin-top: 30px;
                }
                    
                .review__button {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    padding: 10px;
                }
                    
                .review__button button {
                    font-weight: bolder;
                }
                    
                .images {
                    display: none;
                }
                
                .img_one {
                    display: block;
                }

                #prev,
                #next {
                  justify-content: center;
                  align-content: center;
                  background: inherit;
                  border: none;
                  padding: 8px;
                  border-radius: 50%;
                  outline: 0;
                  cursor: pointer;
                }

                    .pointer_img {
                        height: 25px;
                        width: 25px;
                    }

                    .next_rotate {
                        transform: rotate(180deg);
                    }

                    #prev:hover,
                    #next:hover {
                        transform: scale(150%);
                    }
                
#radio {
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 150px;
    background: linear-gradient(270deg, rgba(231,231,231,0.015865721288515378) 0%, rgb(117 244 193 / 6%) 84%, rgb(168 253 234 / 64%) 100%);
}

    .video_radio {
        display: flex;
        position: relative;
        height: 400px;
        border-radius: 20px;
        margin-left: 50px;
    }

                    
footer {
    display: block;
    margin-top: 300px;
}

input {
    border: 1px solid;
}

    #footer_wrapper {
        display: flex;
        position: relative;
        background-color: rgba(35,253,189,0.2945553221288515);
        width: 100%;
        min-height: 400px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

        #contact_me {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 5px;
            min-height: 580px;
            height: auto;
            width: 450px;
            background-color: white;
            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: 20px;
            box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
            top: -120px;
            padding: 30px 30px;
            align-content: center;
        }

            #contact_me p {
                font-weight: lighter;
            }

            #contact_me span {
                font-weight: bold;
            }

            #contact_me hr {
                border: 1px solid;
                color: black;
                margin-top: 5px;
            }

            #btn {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
            }

            .submit_btn {
                display: flex;
                position: relative;
                background-color: black;
                background-size: cover;
                border: none;
                color: white;
                font-weight: bold;
                justify-content: center;
                width: 100px;
            }

                .submit_btn:hover {
                    background-image: url('./images/work-experience-background/blurry-gradient-haikei.png');
                }

            #form_wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 5px;
            }

                #form_wrapper label {
                    margin-top: 7px;
                }

                #warning {
                    display: none;
                    height: 20px;
                    margin-left: 5px;
                }

                #form_wrapper input {
                    display: flex;
                    padding: 5px;
                    height: 40px;
                    border-radius: 10px;
                    font-family: Nunito, sans-serif;
                    margin-top: -1px;
                }

                #form_wrapper textarea {
                    display: flex;
                    padding: 10px;
                    height: 120px;
                    border-radius: 5px;
                    font-family: Nunito, sans-serif;
                    margin-top: -1px;
                }

                .required {
                    border: 2px solid red;
                }

        #socials_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
        }

            #socials_wrapper h3 {
                margin-left: 25px;
            }

            .big_line {
                width: 445px;
                height: 3px;
                background-color: rgba(35, 253, 188, 0.486);
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 25px;
            }

            #contact_wrapper {
                display: flex;
                flex-direction: row;
                position: relative;
            }

                #contact_wrapper ul li {
                    padding: 0px;
                    margin-left: 25px;
                }

                #contact_wrapper a {
                    text-decoration: none;
                }

/* From here the webApp will be displayed for mobiles and devices with smaller screens */

@media only screen and (max-width: 800px) {
    header nav {
        display: none;
    }
  
    #hamburger-icon {
        display: block;
    }

    #about_me_wrapper {
        flex-direction: column;
    }

        .about_me_work_wrapper {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
        }
    
        .my_img {
            top: -55px;
            right: 140px;
        }

        .work_item_link {
            margin-top: 0px;
            margin-left: 20px;
        }

        .small-arrow {
            display: none;
        }

        .below_wrapper {
            display: flex;
            margin-top: -20px;
            margin-left: 150px;
            font-weight: bold;
        }
        
    .work_examples {
        flex-direction: column;
    }
    
  }

@media only screen and (max-width: 1100px) {
    .work_examples {
        flex-direction: column;
        align-items: center;
    }

    .work_experience_background_card_1, .work_experience_background_card_2{
        margin-top: 50px;
    }

    #documentary {
        margin-bottom: 0px;
    }

    .article_wrapper {
        flex-direction: column;
        height: auto;
        gap: 50px;
    }
    
    .artwork_container {
        flex-direction: column;
    }

    .artwork_context {
        margin-top: 0px;
    }

    .artwork_items {
        flex-direction: column;
        gap: 50px;
    }

    .sticky {
        position: relative;
    }

}

@media only screen and (max-width: 1200px) {
    .work_experience_background_card_1, .work_experience_background_card_2{
        margin-right: 20px;
    }
}
