@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: linear-gradient(rgba(35,253,189,0.2945553221288515) 0%, rgba(29,253,187,0.07326680672268904) 9%, rgba(179,241,235,0) 100%);    /* need to check if smooth scroll works for all components */
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: rgba(35,253,189,0.2945553221288515);
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: black;
  }

  .page-owner {
    font-weight: lighter;
    font-size: smaller;
    font-size: 14px;
  }

  nav {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 25px;
    height: calc(100vh - 50px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 5px;
  }


#about_me {
    margin-top: 80px;
}

#about_me_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 140px;
}

.about_me {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("./images/blob-haikei.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 550px;
    top: 18px;
}

.about_me_content {
    width: 400px;
    text-align: center;
    margin-top: 110px;
    margin-left: 50px;
}

.my_img_block {
    height: 20px;
}

.my_img {
    position: absolute;
    border-radius: 50%;
    box-shadow: 8px 2px 10px -3px rgba(0, 0, 0, 0.1);
    height: 200px;
    top: 5px;
    right: -25px;
}

.my_name {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    top: 25px;
}

.about_me_description {
    display: flex;
    position: relative;
    margin-top: 55px;
    line-height: 1.5;
    font-size: 17px;
    margin-left: 140px;
    width: 450px;
}

.special_description_space {
    margin-left: 10px;
}

.special_description_space_1 {
    margin-left: 30px;
}

.special_description_space_2 {
    margin-left: 50px;
}

.checkout_description {
    margin-left: 100px;
    font-weight: bold;
    line-height: 70px;
}

.below_wrapper {
    display: none;
}

.small-arrow {
    display: flex;
    position: absolute;
}

.small-arrow img {
    margin-left: 240px;
    margin-top: 260px;
    width: 330px;
}

.my_work {
    font-weight: bold;
}

.about_me_work_wrapper {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.work_item_link {
    display: flex;
    background-color: #f3fffd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 10px 40px -3px rgba(0, 0, 0, 0.1);
    font-family: Nunito, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.work_item_link:hover {
    background: rgb(243, 255, 253);
    background: linear-gradient(90deg, rgba(243, 255, 253, 1) 0%, rgba(230, 251, 248, 1) 44%, rgba(223, 251, 247, 1) 100%);
    font-weight: bold;
    transform: scale(110%);
}

#work_experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.work_experience_header {
    font-weight: bolder;
    font-size: 45px;
    font-family: Nunito, sans-serif;
    margin-right: 80px;
}

.work_examples {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    margin-top: 25px;
}

.work_experience_background_card_1 {
    position: relative;
    background-color: #5a61bd;
    background-image: linear-gradient(28deg, #5a61bd 0%, #91c4f9 42%, #ffffff 100%);
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
}

.work_experience_background_card_2 {
    position: relative;
    background-color: #5a61bd;
    background-image: linear-gradient(27deg, #5a61bd 0%, #91c4f9 42%, #ffffff 100%);
    /* background-image: url('./images/work-experience-background/blurry-gradient-haikei_2.png');
    background-size: cover;
    background-repeat: no-repeat; */
    filter: drop-shadow(0 0 0.75rem rgba(49, 53, 51, 0.568));
    height: 433px;
    width: 357px;
    border-radius: 12px;
}

.work_experience_card {
    height: inherit;
    width: inherit;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(166, 172, 190, 0.144);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-direction: column;
    line-height: 25px;
    padding: 35px 50px;
}

    .work_experience_card h2 {
        font-weight: bolder;
        font-family: Nunito, sans-serif;
        color: black;
    }

    .work_experience_card p {
        font-weight: lighter;
        font-family: Nunito, sans-serif;
        width: 250px;
        margin-top: 15px;
        color: black;
    }

    .work_experience_card img {
        height: 100px;
        width: 150px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .work_experience_card:hover {
        transform: scale(100%);
    }

.small_line {
    margin-top: 15px;
    width: 250px;
    height: 1px;
    background-color: black;
}

#documentary {
    margin-top: 200px;
    background: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgba(255,255,255,0.8141850490196079) 84%, rgba(235,233,233,0.9262298669467787) 100%);
}

.work_header {
    font-weight: bolder;
    font-size: 45px;
    font-family: Nunito, sans-serif;
    margin-right: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.article_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgba(255,255,255,0.8141850490196079) 84%, rgba(235,233,233,0.9262298669467787) 100%); */
}

    .short_documentary {
        display: flex;
        position: relative;
        height: 350px;
        width: 700px;
        margin-right: 50px;
        border-radius: 10px;
    }

.article_descrtiption {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    line-height: 25px;
    font-family: inherit;
}

    .article_descrtiption h3 {
        font-weight: bold;
    }

    .article_descrtiption hr {
        border: 1px solid;
        color: black;
        margin-top: 10px;
    }

    .article_descrtiption p {
        font-weight: lighter;
        margin-top: 10px;
    }

#triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgba(137, 43, 226, 0.082);
    border-color: linear-gradient(90deg, rgba(231,231,231,0.015865721288515378) 0%, rgba(255,255,255,0.8141850490196079) 84%, rgba(235,233,233,0.9262298669467787) 100%);

    }

footer {
    display: block;
    margin-top: 300px;
}

    #footer_wrapper {
        display: flex;
        position: relative;
        background-color: rgba(35,253,189,0.2945553221288515);
        /* border-top: 3px solid rgba(35, 253, 188, 0.486); Not sure if this looks good? */
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
    }

        #contact_me {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 5px;
            height: 580px;
            width: 450px;
            background-color: white;
            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: 20px;
            box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
            top: -120px;
            padding: 30px 30px;
            align-content: center;
        }

            #contact_me p {
                font-weight: lighter;
            }

            #contact_me span {
                font-weight: bold;
            }

            #contact_me hr {
                border: 1px solid;
                color: black;
                margin-top: 5px;
            }

            .submit_btn {
                display: flex;
                position: absolute;
                background-color: black;
                background-size: cover;
                border: none;
                color: white;
                font-weight: bold;
                justify-content: center;
                width: 100px;
                right: 30px;
                bottom: 20px;
            }

                .submit_btn:hover {
                    background-image: url('./images/work-experience-background/blurry-gradient-haikei.png');
                }

            #form_wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 5px;
            }

                #form_wrapper label {
                    margin-top: 7px;
                }

                #form_wrapper input {
                    display: flex;
                    padding: 5px;
                    height: 40px;
                    border-radius: 10px;
                    border: 1px solid;
                    font-family: Nunito, sans-serif;
                    margin-top: -1px;
                }

                /* #form_wrapper input:required {
                    border: 1px solid red;
                } */

                #form_wrapper textarea {
                    display: flex;
                    padding: 10px;
                    height: 120px;
                    border-radius: 5px;
                    border: 1px solid;
                    font-family: Nunito, sans-serif;
                    margin-top: -1px;
                }

        #socials_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
        }

            #socials_wrapper h3 {
                margin-left: 25px;
            }

            .big_line {
                width: 445px;
                height: 3px;
                background-color: rgba(35, 253, 188, 0.486);
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 25px;
            }

            #contact_wrapper {
                display: flex;
                flex-direction: row;
                position: relative;
            }

                #contact_wrapper ul li {
                    padding: 0px;
                    margin-left: 25px;
                }

                #contact_wrapper a {
                    text-decoration: none;
                }

/* From here the webApp will be displayed for mobiles and devices with smaller screens */

@media only screen and (max-width: 800px) {
    header nav {
        display: none;
    }
  
    #hamburger-icon {
        display: block;
    }

    #about_me_wrapper {
        flex-direction: column;
    }

        .about_me_work_wrapper {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
        }
    
        .my_img {
            top: -55px;
            right: 140px;
        }

        .work_item_link {
            margin-top: 0px;
            margin-left: 20px;
        }

        .small-arrow {
            display: none;
        }

        .below_wrapper {
            display: flex;
            margin-top: -20px;
            margin-left: 150px;
            font-weight: bold;
        }
        
    .work_examples {
        flex-direction: column;
    }
    
  }

@media only screen and (max-width: 1100px) {
    .work_examples {
        flex-direction: column;
        align-items: center;
    }

    .work_experience_background_card_1, .work_experience_background_card_2{
        margin-top: 50px;
    }

    .article_wrapper {
        flex-direction: column;
        height: auto;
        gap: 50px;
    }
    
}

@media only screen and (max-width: 1200px) {
    .work_experience_background_card_1, .work_experience_background_card_2{
        margin-right: 20px;
    }

    
}
